<form (ngSubmit)="onSubmit()" #etaForm="ngForm">
    <!-- {{debug}} -->
    <div class="form-group">
        <label for="company">Company</label>
        <select class="form-control" id="company"
        required #company
        [(ngModel)]="model.company" name="company"
        (change)='onCompanySelected(company.value)'>
            <option>KMB</option>
            <!-- TODO to be implement -->
            <!-- <option>NFWS</option> -->
        </select>
        <br>
        <label for="route">Route</label>
        <ng-autocomplete [disabled]="!routeList" #auto
        [data]="routeList ? routeList.data : []"
        [searchKeyword]="keyword"
        placeholder="Select Bus Route"        
        (selected)='selectEvent($event)'  
        [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate">                                 
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.route + ' - ' + item.dest_en"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
        </ng-template>
        <br>
        <label for="stop">Stop</label>
        <select class="form-control" id="stop"
        required #stop [disabled]="stopList.length == 0"
        [(ngModel)]="model.stop" name="stop">
            <option *ngFor="let s of stopList" [value]="s.data.stop">{{s.data.name_en}}</option>
        </select>      
    </div>
    <br>
    <button type="submit" class="btn btn-success" [disabled]="!etaForm.form.valid">Add</button>
</form>

<app-eta-container></app-eta-container>
<!-- <table class="table table-striped" *ngIf="etaReponse">
    <tr>
        <th style="width:10%">Route</th>
        <th style="width:30%">Dest</th>
        <th style="width:30%">ETA</th>
        <th style="width:30%">Remarks</th>
    </tr>
    <tr *ngFor="let data of etaReponse.data">
        <ng-container *ngIf="model.route && 
            (data.route == model.route.route && data.service_type == model.route.service_type && data.dir == model.route.bound)">
            <td>{{data.route}}</td>
            <td>{{data.dest_en}}</td>
            <td>{{data.eta | date:'mediumTime'}}</td>
            <td>{{data.rmk_en}}</td>
        </ng-container> 
    </tr>
</table> -->