<form (ngSubmit)="onSubmit()" #etaForm="ngForm">
    <!-- {{debug}} -->
    <div class="form-group">
        <mat-form-field appearance="fill">
            <mat-label for="company">Company</mat-label>
            <mat-select id="company"
            required #company
            [(ngModel)]="model.company" name="company"
            (selectionChange)='onCompanySelected(company.value)'>
                <mat-option>None</mat-option>
                <mat-option value="KMB">KMB</mat-option>
                <!-- TODO to be implement -->
                <!-- <mat-option value="NFWS">NFWS</mat-option> -->
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label for="route">Route</mat-label>
            <input [formControl]="matCtrl" required
                placeholder="Select Bus Route"
                aria-label="Bus Route"            
                matInput id="route" name="route"
                [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option 
                    *ngFor="let option of filterRouteList | async " [value]="option"
                    (onSelectionChange)="selectEvent(option)">
                {{option.route}} - {{option.dest_en}}
                </mat-option>            
            </mat-autocomplete>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill">
            <mat-label for="stop">Stop</mat-label>
            <mat-select required #stop id="stop" name="stop"
                        [(ngModel)]="model.stop" 
                        [disabled]="routeStopList != null && routeStopList.data != null && routeStopList.data.length == 0">
                <mat-option *ngFor="let s of routeStopList?.data" [value]="s.stop">
                    {{s.seq}} - {{s.stopName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <br>
    <button type="submit" class="btn btn-success" [disabled]="!etaForm.form.valid">Add</button>
</form>

<app-eta-container></app-eta-container>
<!-- <table class="table table-striped" *ngIf="etaReponse">
    <tr>
        <th style="width:10%">Route</th>
        <th style="width:30%">Dest</th>
        <th style="width:30%">ETA</th>
        <th style="width:30%">Remarks</th>
    </tr>
    <tr *ngFor="let data of etaReponse.data">
        <ng-container *ngIf="model.route && 
            (data.route == model.route.route && data.service_type == model.route.service_type && data.dir == model.route.bound)">
            <td>{{data.route}}</td>
            <td>{{data.dest_en}}</td>
            <td>{{data.eta | date:'mediumTime'}}</td>
            <td>{{data.rmk_en}}</td>
        </ng-container> 
    </tr>
</table> -->