div {
    position: relative;
}

button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 1em;
    width: 40px;
    height: 40px;
}

table tr th{
    background-color: #E60012;
    /* color: white; */
}

.mat-table {
    width: 100%;
}
.mat-column-route {
    width:10%;
}
.mat-column-dest_en {
    width:30%;
}
.mat-column-eta {
    width:30%;
}
.mat-column-rmk_en {
    width:30%;
}