<div class="form-control" *ngFor="let c of containerList">
    <ng-container *ngIf="c.response">
        <label>Generated Time: {{c.response.generated_timestamp | date:'medium'}}</label>
        <table class="table table-striped">
            <tr>
                <th style="width:10%">Route</th>
                <th style="width:30%">Dest</th>
                <th style="width:30%">ETA</th>
                <th style="width:30%">Remarks</th>
            </tr>
            <tr *ngFor="let data of c.response.data">
                <ng-container>
                    <td>{{data.route}}</td>
                    <td>{{data.dest_en}}</td>
                    <td>{{data.eta | date:'mediumTime'}}</td>
                    <td>{{data.rmk_en}}</td>
                </ng-container> 
            </tr>
        </table>
        <button class="btn-primay" (click)="onClick(c)">X</button>
    </ng-container>
</div>